// @mobileLandscape: ~"only screen and (min-width: 451px) and (max-width: 1279px)";
// @mobile: ~"only screen and (min-width: 320px) and (max-width: 1279px)";
// @desktop: ~"only screen and (min-width:1280px) and (max-width:1799px)";

@mobile: ~"only screen and (max-width: 450px)";
@tablet: ~"only screen and (min-width: 451px) and (max-width: 1279px)";
@desktop: ~"only screen and (min-width: 1280px)";


body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background-color: rgb(15, 22, 36);
    color: rgb(242, 245, 247);
    cursor: default;
    
}   

input:-webkit-autofill, 
textarea:-webkit-autofill {
    background-color: #2d3748 !important;
    color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px #2d3748 inset !important;
    -webkit-text-fill-color: white !important;
}

input:-webkit-autofill:focus, 
textarea:-webkit-autofill:focus {
    background-color: #2d3748 !important;
    color: white !important;
    -webkit-text-fill-color: white !important;
}



.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    background-color: #0A1931;
    color: rgb(242, 245, 247);
    cursor: default;
    min-height: 100vh;
    height: auto;
    @media @mobile {
         min-height: 100vh;
    width: 100vw;
    }
}


.header-container {
    display: flex;
    justify-content: space-between;
    background-color:rgb(15, 22, 36);
    @media @mobile{
        height: 46px;
    }
    & > .start-heading, .end-heading {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 47px;
        @media @mobile{
            gap: 6px;
        }
        > a {
            color: #8eb0c4;
            text-decoration: none;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            font-family: cursive;
            padding: 17px;
            
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.profile-img-container {
    position: relative; 
    display: inline-block;
}

.profile-img {
    height: 43px;
    width: 38px;
    border-radius: 34px;
    margin-right: 1px;
    margin-top: 7px;
    display: block;
    @media @mobile {
        height: 40px;
    width: 37px;
    margin-right: 0px;
    margin-top: unset;
    }
}

.status-dot {
    position: absolute;
    bottom: 2px;  
    right: 2px;
    width: 9px;
    height: 9px;
    background-color: green;
    border-radius: 50%;
    border: 2px solid black; 
    animation: blink 1.5s infinite ease-in-out;
    @media @mobile {
        bottom: -5px;
    }
}



@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
  }

.menu-popover > .popover-body {
    color: white !important;
    font-family: cursive;
    border-radius: 14px;
    background-color: #2d3748  !important;
    height: 351px !important;
    width: 210px;
    & > .image-model {
        > img{
            height: 123px;
            width: 123px;
            border-radius: 32px;
        }
        & > p {
            margin-top: 19px;
            margin-left: 16px;
        }
    }
     

}


.profile-popover > .popover-body {
        color: white !important;
        font-family: cursive;
        border-radius: 14px;
        background-color: #2d3748  !important;
        & > .image-model {
            > img{
                height: 123px;
                width: 123px;
                border-radius: 32px;
            }
            & > p {
                margin-top: 19px;
                margin-left: 16px;
            }
        }
         
    
}


.popover .popover-arrow {
    display: none !important;
  }

  .popover {
    background-color: black !important;
    color: white !important;
    border: 1px solid black !important;
  }
  
  
.home-container {
    margin-top: 40px;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0A1931;
    color: rgb(242, 245, 247);
    height: 76vh;
    cursor: default;
    @media @mobile {
        display: flex;
        flex-direction: column;
        justify-content: end;
        min-height: unset;
        margin-left: 15px;
        text-align: left;
        height: 100%;
    }
    & > .home-heading{
        display: flex;
        flex-direction: column;
        padding: 85px;
        @media @mobile {
            padding: 22px;
        }
        & > button {
            cursor: pointer;
            background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
            border: none;
            border-radius: 36px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin-top: 48px;
            margin-right: 10px;
            color: white;
            width: 164px;
            @media @mobile {
                margin-top: 29px;
            }
            
        }
    }

    & h1,h2 {
        font-size: 28px;
        font-family: monospace;
        @media @mobile {
            font-size: 16px
        }
    }
    & >.image-container{
        max-height: 101px;
        @media @mobile {
            max-height: unset;
        }
         > img {
            width: 451px;
            height: 343px;
            padding: 10px;
            border-radius: 35px;
            margin-right: 188px;
            margin-top: 89px;
            @media @mobile {
                width: 60%;
                height: 182px;
                padding: 5px;
                border-radius: 35px;
                margin-top: 15px;
                margin-left: 16px;
                
            }
             }    
          & >.image-dp{
            background-image: radial-gradient(circle farthest-side at 100% 100%, #9873ff, rgba(152, 115, 255, 0)), radial-gradient(circle farthest-side at 100% 0, #0ba5f7, rgba(85, 196, 255, 0)), radial-gradient(circle farthest-side at 0 0, #ff763c, rgba(255, 176, 60, 0)), radial-gradient(circle farthest-side at 0 100%, #ff5aaa, rgba(255, 90, 170, 0));
          }
         
    } 
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.about-section {
    position: relative;
    padding: 10px 7%;
    background-color: #0A1931; 
    color: #D1D5DB; 
    @media @mobile {
        margin-left: 10px;
        margin-top: 50px;
    }
    > h4 {
        font-size: 24px;
        background: linear-gradient(#ff7e5f, #9873ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
    &> h1 {
        color: #F8D210
    }
    & > p {
        color: gray;
        @media @mobile {
            font-size: 14px;
        }
    }
  }
  

  
  .idtsIY {
    width: 64px;
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
    margin-bottom: 20px;
  }


  .main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 88%;
    background-color: transparent;
    margin-left: 102px;
    @media @mobile {
        margin-left: 2px;
    }
  }

  .skills-section {
    position: relative;
    padding: 10px 7%;
    background-color: #0A1931;
    color: #D1D5DB;
    width: 100%;
    margin-bottom: 40px;
    @media @mobile {
        width: 114%;
        margin-left:10px;
    }
    > h4 {
        font-size: 24px;
        background: linear-gradient(#ff7e5f, #9873ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
    & > p{
        color: gray;
        @media @mobile {
        font-size: 14px;
        }
    }
    & > .skills-list{
        margin-top: 44px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 87px;
        &> div:nth-child(n+8){
            margin-left: 16px;
        }
        @media @mobile {
            gap: 42px;
        }
        & > div {
            width: 313px;
            display: flex;
            flex-direction: row;
            gap: 20px;
            & > i{
                font-size: 50px;
            }
            & > div {
                
            & > h4 {
                font-size: 20px;
            }
            & > p {
                font-size: 16px;
                color: gray;
            }
            & > img {
                background: transparent;
                display: block;
        }
    }
        }
        
    }
  }

  .journey-container {
    margin-top: 75px;
    width: 93%;
    padding: 10px;
    margin-left: 83px;
    margin-bottom: 40px;
  
    @media @mobile {
      width: 93%;
      padding: 10px;
      overflow-y: auto;
      margin-bottom: 40px;
      margin-top: 39px;
      margin-left: 25px;
    }
  
    h2 {
      font-size: 24px;
      background: linear-gradient(#ff7e5f, #9873ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      @media @mobile {
        margin-bottom: 30px;
      }
    }
  
    .journey-list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      position: relative;
      padding-left: 20px; 
  
      @media @mobile {
        padding-left: 30px; 
      }
  
      &::before {
        content: "";
        position: absolute;
        left: 10px;
        top: 0;
        width: 4px;
        height: 100%;
        background: linear-gradient(to bottom, #ff7e5f, #9873ff);
        border-radius: 2px;
      }
  
      & > div {
        position: relative;
        padding: 10px 15px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.05);
        color: gray;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
        @media @mobile {
          width: 100%;
        }
  
        &::before {
          content: "";
          position: absolute;
          left: -23px;
          top: 15px;
          width: 12px;
          height: 12px;
          background: white;
          border: 2px solid #ff7e5f;
          border-radius: 50%;
        }
  
        h4 {
          font-size: 20px;
          color: white;
          margin-bottom: 5px;
        }
  
        p {
          font-size: 16px;
          color: gray;
        }
  
        &:hover {
          transform: scale(1.03);
          transition: 0.3s;
        }
      }
    }
  }
  



  .experience-container {
    padding: 10px;
    margin-left: 84px;
    margin-bottom: 70px;

    @media @mobile {
        margin-left: 29px;
    }
    & > div {
        margin-bottom: 37px;
    }
    & > h4 {
        font-size: 24px;
        background: linear-gradient(#ff7e5f, #9873ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        margin-bottom: 37px;
    }
    & > .experience-section{
        position: relative;
    padding-left: 20px;
        display: flex;
        flex-direction: column;
        >h4 {
            margin-top: 10px;
            font-size: 17px;
            color: white
        }
        > p{
            font-size: 16px;
            color: gray;
        }
    }
    & > .experience-section::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 5px;
        background: linear-gradient(#ff7e5f, #9873ff);
    }
  }

.projects-container {
    padding: 10px;
    margin-left: 84px;
    margin-bottom: 70px;
    & > h4 {
        font-size: 24px;
        background: linear-gradient(#ff7e5f, #9873ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        margin-bottom: 37px;
    }
}


.contact-container {
    padding: 10px;
    margin-left: 84px;
    margin-bottom: 70px;
    height: 100%;
    @media @mobile {
        margin-left: 35px;
    }
    & > h4 {
        font-size: 24px;
        background: linear-gradient(#ff7e5f, #9873ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
        margin-bottom: 37px;
    }

    & >.connectMe-container > form {
        display: flex;
        flex-direction: column;
        gap: 36px;
        & > input,textarea {
            color: white;
            background-color: #2d3748;
            border-radius: 10px;
            width: 50%;
            border: 0px;
            font-family: initial;
            font-size: 15px;
            height: 48px;
            padding: 12px;
            @media @mobile {
                width: 100%;
            }
        }
        & > label {
            font-size: 20px;
        }
        & > button {
            cursor: pointer;
            background: linear-gradient(270deg, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
            border: none;
            border-radius: 36px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            margin-top: 10px;
            margin-right: 10px;
            color: white;
            width: 164px;
        }
    margin-bottom: 70px;

    }
}

.footer {
    display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 19px;
        padding: 6px;
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        color: white;
        font-size: 5px;
        text-align: center;

        & > h4 {
            font-size: 18px;
            margin-top: 7px;
            font-family: monospace;
            @media @mobile {
                font-size: 12px;
            }
        }
}

.socialmedia-section {
    display: inherit;
    gap: 16px;

    & > h4 {
        font-size: 18px;
        margin-top: 10px;
        font-family: monospace;
    }
    & >a{
        margin-top: 6px;
        font-size: 23px;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
    @media @mobile {
        font-size: 17px;
    }
}
}

.socialmedia-section a:hover {
    transform: scale(1.2);
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity,1));
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay i {
    font-size: 50px;
    color: #945dd6;
}


.menu-bar {
    margin-left: 4px;
    width: 35px;
    border-radius: 6px;
    height: 36px;
    background-color: #2d4264;
    margin-top: 5px;
    border: 0px;

}

.menu-bar-container {
    display: flex;
    flex-direction: column;
    > a {
        color: #8eb0c4;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        font-family: cursive;
        padding: 17px;
        
        &:hover {
            cursor: pointer;
        }
        }
}