<div class="home-container">
    <div class="home-heading">
        <h1 style="font-weight: bold;">Hey there,</h1>
        <h2 style="color: darkgray;">This is Shiva Krishna I am a Full Stack Developer Experienced in Angular, JavaScript, PHP and databases like MongoDB and MySQL, with a solid foundation in AWS for cloud-based solutions.</h2>
        <button type="button" (click)="downloadFile()">My Resume</button>
    </div>
    <div class="image-container">
        <img src="assets/dp.jpg" alt="Profile Image" class="image-dp"/>
    </div>
</div>